/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
tt,
var,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*******************************************/

/*@font-face {*/
/*    font-family: "Xingkai-SC"; !* 定义一个字体名称 *!*/
/*    src: url("/fonts/华文行楷.ttf"); !* 指定字体文件的路径 *!*/
/*    font-style: normal; !* 定义字体样式 *!*/
/*    font-weight: normal; !* 定义字体权重 *!*/
/*}*/

body {
  font-family: "PingFang SC", "Microsoft YaHei", "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 1em;
  line-height: 200%;
  margin: 0;
  padding: 1em;
  color: #666;
}

a {
  text-decoration: none;
  color: #666;
}

blockquote {
    display: flex;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.4);
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #222;
    color: #ddd;
  }

  a {
    color: rgba(191, 227, 238, 0.6);
  }

  blockquote {
    color: rgba(255, 255, 255, 0.5);
  }
}



blockquote:before {
  content: " ";
  display: block;
  width: 1px;
  margin-right: 8px;
  border-right: 4px solid rgba(0, 0, 0, 0.1);
}

sup {
  font-family: STKaiti, "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  margin: 0 6px 0 2px;
  zoom: 0.6;
  position: relative;
}

cite {
  font-family: STKaiti, "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  position: relative;
  zoom: 1.2;
  margin: 0 4px;
}

.red {
    color: rgba(255, 0, 0, 0.5);
}
